#header.bg{
background-color:#1578b5;
}




#header.bg{
background-color:#1578b5;
}

#header.bg{
background-color:#1578b5;
}

#header.bg{
background-color:#1578b5;
}
#header.bg,.sort a.current_link{background-color:#1578b5;}.service-block:hover{background-color:#1578b5}section.social ul li a.facebook:hover{background:#1578b5;}section.social ul li a.twitter:hover{background:#1578b5;}section.social ul li a.google-plus:hover{background:#1578b5;}.flex control-paging li a.flex-active{background:#1578b5;}.da-thumbs li .main div{background-color:#1578b5;}.recent-blog .containt:hover{background-color:#1578b5;}.flex-control-paging li a.flex-active{background-color:#1578b5;}.flex-control-paging li a:hover{background-color:#1578b5;}div#bx-pager{border-top:2px solid #1578b5;}div#bx-pager a.active:before{border-top-color:#1578b5;}.bx-wrapper .bx-prev:hover{background-color:#1578b5}.bx-wrapper .bx-next:hover{background-color:#1578b5}#footer .footer-widget ul.list li a:before{background-color:#1578b5;}#footer .footer-widget ul.list li a:hover:before{background-color:#1578b5;color:#1578b5;}#footer .footer-widget ul.list li a:hover{color:#1578b5;}.carousel .next:hover, .carousel .prev:hover,a.submit,.bottom-footer,.bx-wrapper li a span{color:#1578b5;}#footer,#footer .footer-widget h4:before{border-top-color:#1578b5;}.icon span{color:#1578b5;}div.comment-cout,.arrow-circle{background-color:#1578b5;}.halfCircleBottom,.halfCircleright{border-color:#1578b5;}div>a.read,.gallery.full-width .da-thumbs li .main div a.read{color:#1578b5;}.nivo-controlNav a:hover,.nivo-controlNav a.active{background:#1578b5;}.flex-caption.bottom .textp,.flex-caption.bottom .right .btcolor,.flex-caption.left .textp{background:#1578b5;}.flex-caption.left .textp{color:#fff;}.flex-caption.left .btcolor{background:#1578b5;}.flex-caption.bottom .textp:after{border-top-color:#1578b5;}#send_message,#send{background:#1578b5;}.circleright{border-top-color:#1578b5;border-right-color:#1578b5;border-bottom-color:#1578b5;}a.active-button{background:#1578b5;}div.node span:hover{background-color:#1578b5;}.people span.post{color:#1578b5;}.buttonred:hover,.ca-content-wrapper{background-color:#1578b5;}.list li:hover span,span.drop,.post-info a span.icon-comment,.post-info a.post-read,ul.catagories li:hover a,ul.bullet-list li span,a.toggle_trigger span{color:#1578b5;}.search input.submit,.mailchimp a,.blog-post:hover .post-contant,.widget-controls .flex-direction-nav li a:hover,.tags a:hover:after,.tags a:hover,ul.catagories li:hover span,.accordion a.current,.toggle_trigger.toggle_active,.tabs li a.current,.home-tab .tabs:after,.pricing_table_wdg ul.bestb li:last-child a,.pricing_table_wdg ul li:last-child:hover a{background-color:#1578b5;}.pricing_table_wdg ul.bestb{border-color:#1578b5;}

.accordion a span{color:#1578b5;}

.bottom-footer{
background:#1578b5;
}

.buttonred{
background:#1578b5;
}

.node span{
color:#1578b5;
}


div.usquare_square_bg1,
div.usquare_square_bg2,
div.usquare_square_bg3,
div.usquare_square_bg4,
div.usquare_square_bg5,
div.usquare_square_bg6,
div.usquare_square_bg7,
div.usquare_square_bg8,
div.usquare_square_bg9
{ background:#1578b5;
}


.filter:hover, .filter.selected{
background:#1578b5;
}

.filter,div.bx-wrapper li a span{
color:#1578b5;
}

.stylish > span,.newsletter-widget input#submit, span.big_button a, .service-block_2 .stylish > span, .service-content:hover, .service_content a.orange_button, a.orange_button{
background:#1578b5;
}


/********* may be remove **********/

.contact-box.blue{
background:#1578b5;
}

********************/

.carousel .next:hover, .carousel .prev:hover{
background-color:#1578b5;
}

.service-block_2 .stylish > span,.service-content:hover{
background:#1578b5;
}

div.flex-caption.left .textp{
background:#1578b5;
color:#fff;
}


 

.flex-caption.bottom .textp{
background:#1578b5;
color:#fff;
}
.flex-caption.bottom .textp:after{
border-right:2px solid #1578b5;
}





.flex-caption.bottom .right .btcolor{
color:#fff;
background:#1578b5;

}



/************* caption left **************/


.flex-caption.left .textp{
background:#1578b5;
color:#fff;
position:relative;
}



.flex-caption.left .textp h2 {
text-shadow:0 2px 2px rgba(255,255,255,0.2);
}



.flex-caption.left .textp p{

text-shadow:0 3px 2px rgba(255,255,255,0.2);
}

.flex-caption.left .btcolor {
  background: none repeat scroll 0 0 #1578b5;
  color: #FFFFFF;
}

	




ul.sf-menu li:hover ul,
ul.sf-menu li.sfHover ul {
	background:#fff;
	padding-left:5px;
	border-left:1px solid #ddd;
	border-bottom:1px solid #ddd;
}


ulul.sf-menu li:hover li ul,
ulul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ulul.sf-menu li li:hover ul,
ulul.sf-menu li li.sfHover ul {
	left:			99%; /* match ul width */
	top:			0;
}


ulul.sf-menu li li.sfHover ul li a{
padding:11px;
}
	
	
	
ulul.sf-menu li li:hover li ul,
ulul.sf-menu li li.sfHover li ul {
	top:			-999em;
}
ulul.sf-menu li li li:hover ul,
ulul.sf-menu li li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}



ul.sf-menu li a:hover{color:#fff;background:#1578b5;	
position:relative;
z-index:3;
}

ul.sf-menu li a:hover:before{
color:#fff;
}

ul.sf-menu li a span {
  clear: both;
  display: block;
  margin-top: 5px;
  text-align: center;
  width: 100%;
}

ul.sf-menu li.home a span{
font-size:17px;
}

ul.sf-menu li.home a{
padding:20px 19px 14px 19px;
}


ul.sf-menu li a:before {
  color: #AEAEAE;
  content: attr(data-description);
  display: block;
  font-size: 10px;
  font-weight: 400;
  line-height: 0;
  margin: 0 0 7px -1px;
  text-align: center;
  text-transform: lowercase;
}




/*** DEMO SKIN ***/

ul.sf-menu {
	float:right;
}
ul.sf-menu a {
	padding:20px 19px 13px 19px;
}

ul.sf-menu li a {
  color: #000;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  position:relative;
}

ul.sf-menu a, ul.sf-menu a:visited  {color:#000;
 font-size:14px;
 font-family:'Open Sans';
}


ul.sf-menu li li {background:#1578b5;	
height:45px;
}

 ul.sf-menu ul ul {
margin-left:2px;
padding-top:3px;
border-top:1px solid #ddd;
margin-top:0;
} 

ul.sf-menu ul ul ul {
  margin-left: 29%;
  margin-top: 0;
  position: absolute;
}
 
ul.sf-menu li li a{
color:#000;
height:auto;
float:left;
text-transform:lowercase;
padding:10px 15px;
}

ul.sf-menu li.home li a{
height:auto;
float:left;
text-transform:lowercase;
padding:10px 15px;
}


ul.sf-menu li li a:after, ul.sf-menu li li a:hover:after{
display:none;
}

ul.sf-menu li li a:before, ul.sf-menu li li a:hover:before{
display:none;
margin:0;
}


ul.sf-menu li li .icon{background:#fff;
padding:15px 10px;
display:block;
float:right;
}



ul.sf-menu li li:hover .icon span{
color:#1578b5;
}


ul.sf-menu li li .icon span{
color:#babcbe;
}



ul.sf-menu li li:hover a{
color:#000;
}



ul.sf-menu li li:hover,ul.sf-menu li li a:focus, ul.sf-menu li li a:hover, ul.sf-menu li li a:active {background:#fff;
color:#000;
}

/******** third li element *********/



ul.sf-menu li li li:hover a{
color:#000;
}




.sfHover a:after{
display:none;
border-right:none;
}



/*** arrows **/

ul.sf-menu a.sf-with-ul {
	min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */

}

ul.sf-menu .sfHover{
background:#1578b5;
color:#fff;
}
ul.sf-menu .sfHover a{
color:#fff;
}


ul.sf-menu .sfHover>a{
}

ul.sf-menu .sfHover>a:before{
color:#fff;
}


ul.sf-menu .sfHover li a{
color:#fff;
}

ul.sf-menu .sfHover li li a{
color:#fff;
}
ul.sf-menu .sfHover li li li a{
color:#fff;
}

ul.sf-menu .sfHover li a:hover{
color:#000;
}





